/* Add this to your global CSS */
body.ReactModal__Body--open {
  overflow: hidden; /* Prevent scrolling of the background when modal is open */
}

/* Animation classes for the modal */
.form-modal-after-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.form-modal-before-close {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.form-modal-overlay-after-open {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.form-modal-overlay-before-close {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
